@font-face {
    font-family: "SFDisplay-Thin";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Thin.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Thin.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-UltraLight";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Ultralight.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Ultralight.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Light";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Light.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Light.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Regular";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Regular.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Medium";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Medium.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Semibold";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Semibold.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Semibold.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Bold";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Bold.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Heavy";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Heavy.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Heavy.woff") format("woff");
}

@font-face {
    font-family: "SFDisplay-Black";
    src: local("SFDisplay"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Black.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Display/SFProDisplay-Black.woff") format("woff");
}


// SF Pro Text
@font-face {
    font-family: "SFText-Light";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Light.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Light.woff") format("woff");
}

@font-face {
    font-family: "SFText-Regular";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Regular.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Regular.woff") format("woff");
}

@font-face {
    font-family: "SFText-Medium";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Medium.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Medium.woff") format("woff");
}

@font-face {
    font-family: "SFText-Semibold";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Semibold.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Semibold.woff") format("woff");
}

@font-face {
    font-family: "SFText-Bold";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Bold.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Bold.woff") format("woff");
}

@font-face {
    font-family: "SFText-Heavy";
    src: local("SFText"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Heavy.ttf") format("truetype"),
    url("~styles/fonts/SF_Pro_Text/SFProText-Heavy.woff") format("woff");
}


